
@{
    ViewBag.Title = "TimThue";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<h2>TimThue</h2>
<div class="TongThe">
    <div class="GioiThiu">
        <!--HINH-->
        <div class="slider">
            <div class="slides">
                <input type="radio" name="radio-btn" id="hinh1" />
                <input type="radio" name="radio-btn" id="hinh2" />
                @*<input type="radio" name="radio-btn" id="hinh3" />*@
            </div>
            <div class="Hinh dau">
                <img src="~/Imagess/q1/q1hinh1.jpg" alt="" />
            </div>
            <div class="Hinh ">
                <img src="~/Imagess/q1/q1hinh2.jpg" alt="" />
            </div>
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                @*<div class="auto-btn3"></div>*@
            </div>
        </div>
        <div class="navigation-manual">
            <label for="hinh1" class="manual-btn"></label>
            <label for="hinh2" class="manual-btn"></label>
        </div>
    </div>
    <div class="Main">
        <div class="title">
            <h1>Phòng quận 1 tiện nghi k chung chủ giờ giấc tự do, free giăt đồ</h1>
        </div>
        <div class="address">Bùi Thị Xuân, Phường Bến Thành, Quận 1, TPHCM</div>
        <div class="price">2 triệu 900 nghìn</div>
        <h2 class="Info">Thông Tin Chính</h2>

    </div>
</div>
